doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 400
        link(href='./400.css', rel='stylesheet')

    article
        aside
            div
                include svg/400.svg
            h1 Hol' up, wait a minute
            p What you sent doesn't work...