doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 502
        link(href='./502.css', rel='stylesheet')

    article
        aside
            div
                include svg/502.svg
            h1 No! Down!
            p Bad gateway! Bad!