doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 503
        link(href='./503.css', rel='stylesheet')

    article
        aside
            div
                include svg/503.svg
            h1 AAAH! Hold on!
            p I'm not ready to show you this page yet!