doctype html

head
    title FF-500
    link(rel='stylesheet', href='error.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')

#error Error
.error-num 500
    .error-num__clip 500

p#desc Uh oh, there seems to be a problem.
p Let me help you find #[a(href='https://admin.fastestfurs.com/' target='_blank') a way out]